.cloth-setting-container {
    .cloth-setting-actions {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
    }
    .cloth-setting-add-cloth {
        padding: 20px;
    }
}