.setting-card-wrapper {
    padding: 10px;
    margin: 10px;
    width: 23%;
    .item-imgage {
        width: 90%;
        height: 200px;
    }
}


@media screen and (max-width: 1280px) {
    .setting-card-wrapper {
        padding: 20px;
        width: 47%;
    }
}

@media screen and (max-width: 960px) {
    .setting-card-wrapper {
        padding: 20px;
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .setting-card-wrapper {
        padding: 20px;
        width: 90%;
    }
}